/* Genel stil ayarları */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #f4f4f4;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

/* Header */
header {
    padding: 1rem;
    color: #f4f4f4;
}

/* Merkezde konumlandırılmış içerik */
.centered-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centered-content img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.centered-content p {
    font-size: 1.2em;
}

/* Footer */
footer {
    margin-top: 1rem;
    color: #f4f4f4;
}
