/* General style settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #f4f4f4;
    background-color: #000000;
}

/* Header and navigation */
header {
    text-align: center;
    padding: 1rem;
    color: #f4f4f4;
}

header h1 {
    font-size: 2em;
    margin-bottom: 0.5rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #f4f4f4;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Section styling */
section {
    padding: 2rem;
    margin: 1rem auto;
    max-width: 800px;
    text-align: center;
}

h2, h3 {
    color: #f4f4f4;
    margin-bottom: 1rem;
}

/* Footer styling */
footer {
    text-align: center;
    padding: 1rem;
    background-color: #111111;
    color: #f4f4f4;
    margin-top: 2rem;
}
/* Sayfanın tam ortasında fotoğraf için stil */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000; /* Arka plan rengi */
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.centered-image {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    border-radius: 8px; /* Köşeleri yuvarlatmak için isteğe bağlı */
}
